/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@font-face {
    font-family: "Crimson";
    src: url(../fonts/CrimsonText-Roman.ttf);
}

.main-title {
    font-family: "Crimson";
    text-align: center;
    color: black;
    line-height: 200px;
    height: 200px;
    font-size: 100px;
    width: 100%;
    background-color: white;
}