@font-face {
    font-family: "Crimson";
    src: url(../fonts/CrimsonText-Roman.ttf);
}

@font-face {
    font-family: "Molengo";
    src: url(../fonts/Molengo-Regular.ttf);
}

html,
body {
    font-family: "Crimson" serif;
    font-size: 24px;
    background-image: url(../imgs/crossword.png);
    margin: 0;
    padding: 0;
    height: 100%;
}
div {
    overflow: hidden;
}

div > h1 {
    font-size: 48px; 
    text-align: center; 
    padding-bottom: 15px;
}

.site-wrapper {
    position: relative;
    min-height: 100%;
}

p, form {
    font-family: "Molengo";
}

.main-title {
    min-height: 150px;
    line-height: 150px; 
    width: 100%;
    text-align: center;
}

.main-title > a {
    font-family: "Crimson" serif;
    color: black;
    text-decoration: none;
}

.main-title > a:hover {
    text-decoration: none;
}

.header-container {
    margin: auto;
    min-height: 50px;
    text-align: center;
    font-family: "Crimson" serif;
    font-size: 25px;
    padding-bottom: 50px;
}

.header-container > div {
    padding: 10px auto;
}

.header-container a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.header-container a:hover {
    border-bottom: 2px solid black;
}

.main {
    padding-bottom: 15px;
}

.row > div > img {
    max-width: 100%;
    margin: auto;
    display: block;
}

.footer {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.socials {
    text-align: center;
}

.socials > a {
    line-height: 100px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.fa-facebook-square, .fa-facebook-square:hover {
    color: rgb(59,89,152);
}

.fa-envelope-square, .fa-envelope-square:hover {
    color: rgb(216,62,45);
}

.fa-twitter, .fa-twitter:hover {
    color: rgb(85, 172, 238);
}

.fa-youtube-square, .fa-youtube-square:hover {
    color: rgb(229,45,39);
}

.fa:hover {
    text-decoration: none;
    opacity: 0.5;
}

input, textarea {
    width: 100%;
}

form > div > div {
    padding: 20px;
}

form > div > label {
  position: absolute;
}

form label {
  font-size: 10px;
  position: absolute;
  top: 5px;
  left: 16px;
  width: 100%;
  transition: 0.2s;
  opacity: 0;
}
form input:valid + label, form textarea:valid + label {
  opacity: 1;
}

input, input:focus, input:active {
    background: none;
    border: none;
    border-bottom: 2px dotted gray;
    outline: none;
}

textarea {
    font-size: 14px;
    background: none;
    outline: none;
    border: 1px dotted gray;
}

.btn-send {
    overflow: hidden;
    border: 2px dotted black;
    color: black;
    font-family: inherit;
    font-size: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-send:after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: rgba(1,1,1,0.3);
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: 2;
}

.btn-send:hover,
.btn-send:active {
    color: black;
}

.btn-send:hover:after {
    height: 225%;
    opacity: 1;
}

.btn-send:active:after {
    height: 400%;
    opacity: 1;
}

.fa-phone-square, .fa-phone-square:hover {
    color: rgb(229,45,39);
}

.res-basic {
    padding: 15px;
    border: 2px solid black;
}

.main-res {
    font-family: "Molengo";
    padding: 20px 0;
}

.main-res dd {
    padding: 15px 0;
}

.main-res dd:last-child {
    padding-bottom: 0;
}

.school {
    text-align: center;
    padding-bottom: 15px;
    font-size: 30px;
}

.prod {
    padding-bottom:15px;
}

.prod:last-child {
    padding-bottom: 0;
}

.name {
    text-align: left;
    font-size: 35px;
    padding: 10px 0;
}

.main {
    padding-bottom: 100px;
}

.img-responsive {
    margin: 0 auto;
}

.vid-sec, .photo-sec, .vid-des {
    text-align: center;
}